<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My RESTful API</title>
        <link href="assets/css/style2.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="./assets/scripts/jquery-2.2.4.min.js" defer></script><!-- jQuery should be first -->
        <script type="text/javascript" src="./assets/scripts/script.js" defer></script>
    </head>
    
    <body>
        
        <header>
            <h1>My RESTful API: NY times datas</h1>
        </header>
        
        <main>
            <p id="menu">
                <button id = "all_articles">All articles</button>
                <button id = "list_authors">List all known authors</button>
                <button id = "list_url">List all article short URLs</button>
                <button id = "list_des_facet">Article Tags</button>
                <button id = "details">Detail of article #:</button>
                <input id = "detail_in" type="integer" size="5"></input>
                <button id = "hyperlinks">Hyperlinks</button>   
            </p>
            
            <section id="results"></section><!-- #topthree -->
        </main>
        
        <footer>
            <p>
                Author: Kyle L.Q. Tam 
                Copyright: data from New York times
            </p>
        </footer>
        
    </body>
</html> 